<!-- Cabeçalho - Início -->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="ISO-8859-1">
        <title>Loucademia</title>
        <link rel="stylesheet" type="text/css" href="/css/Loucademia_Estilo.css">
    </head>
    <body>
        <header>
            <img src="/img/Loucademia_Logotipo.png">
            <nav>
                <div>
                    <a href="novoAluno.html">Novo aluno</a><br>
                    <a href="pesquisaDeAluno.html">Pesquisa de aluno</a><br>
                    <a href="controleDeAcesso.html">Controle de acesso</a><br>
                    <a href="relatorioDeEntradaSaida.html">Relatórios de Entradas e Saídas</a><br>
                    <a href="relatoriosDeSituacoes.html">Relatórios de Situações</a><br>
                </div>
            </nav>
        </header>
<!-- Cabeçalho - Fim -->
        
    <h1>Relatório de entradas e saídas</h1>
        
    <br>
        
    <div id="infoMessage">
        (Mensagem de erro!)
    </div>
        
    <br>
        
    <form>
        <fieldset>
            <legend>Parâmetros da Pesquisa</legend>
            
            <label for="id">ID</label><br>
            <input type="text" name="id" id="id"><br>
            
            <label for="dataInicial">Data inicial</label><br>
            <input type="date" name="dataInicial" id="dataInicial"><br>
            
            <label for="dataFinal">Data final</label><br>
            <input type="date" name="dataFinal" id="dataFinal">
            
        </fieldset>  
        
        <br>
        
        <input type="submit" value="Gerar relatório">
    </form>
        
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Duração</th>
        </tr>
        
        <tr>
            <td>1</td>
            <td>Carlos</td>
            <td>05/03/2019 10:05:04</td>
            <td>05/03/2019 10:05:04</td>
            <td>0</td>
        </tr>
        
        <tr>
            <td>1</td>
            <td>Maria</td>
            <td>05/03/2019 09:05:04</td>
            <td>05/03/2019 10:05:04</td>
            <td>1</td>
        </tr>
        
        <tr>
            <td>1</td>
            <td>Jose</td>
            <td>05/03/2019 08:05:04</td>
            <td>05/03/2019 10:05:04</td>
            <td>2</td>
        </tr>
        
        <tr>
            <td>1</td>
            <td>Alfredo</td>
            <td>05/03/2019 07:05:04</td>
            <td>05/03/2019 10:05:04</td>
            <td>3</td>
        </tr>
    </table>
        
<!-- Rodapé - Início -->
    </body>
</html>
<!-- Rodapé - Fim -->